.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: var(--bg-detalhes);
}

.copy p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
