body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-main);
  color: var(--font-color);
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-detalhes);
  border-left: 4px solid var(--bg-main);
  border-right: 4px solid var(--bg-main);
  border-radius: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-main);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 1000px) 1fr;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
ul,
dt,
dd {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body > section {
  padding-block: 30px;
}

.title {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}
