.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--font-color-text);
  cursor: pointer;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--bg-detalhes);
}

.faq-lista dd {
  font-family: helvetica, arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.js .js-accordion dt::after {
  content: "тоз";
  margin-left: 10px;
}

.js .js-accordion dt.ativo::after {
  content: "тое";
}

.js .js-accordion dd {
  display: none;
}

.js .js-accordion dd.ativo {
  display: block;
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}
